<div class="flex gap-8 justify-content-center pyclea-4">
  <app-button
    *ngIf="page !== 'dashboard'"
    label="Trang chủ"
    color="primary"
    [routerLink]="['/dashboard']"
    class="cursor-pointer border-round-2xl text-2xl font-bold px-3 py-4"
  >
  </app-button>

  <app-button
    *ngIf="page !== 'create'"
    label="Thêm Sản Phẩm"
    color="primary"
    [routerLink]="['/product/create']"
    [queryParams]="{
      check: 'create'
    }"
    class="cursor-pointer border-round-2xl text-2xl font-bold px-3 py-4"
  >
  </app-button>

  <app-button
    *ngIf="page !== 'user'"
    label="Quản lý user"
    color="primary"
    [routerLink]="['/user']"
    class="cursor-pointer border-round-2xl text-2xl font-bold px-3 py-4"
  >
  </app-button>

  <app-button
    *ngIf="page !== 'password'"
    label="Đổi mật khẩu"
    color="secondary"
    [routerLink]="['/password']"
    class="cursor-pointer border-round-2xl text-2xl font-bold px-3 py-4"
  >
  </app-button>

  <app-button
    label="Đăng Xuất"
    color="danger"
    (click)="logout()"
    class="cursor-pointer border-round-2xl text-2xl font-bold px-3 py-4"
  >
  </app-button>
</div>
