<div class="w-screen flex gap-8 justify-content-center py-6">
  <button
    *ngIf="page !== 'dashboard'"
    pButton
    label="Trang chủ"
    [raised]="true"
    class="p-button-primary p-button-rounded p-button-lg text-3xl font-bold px-6 py-4"
    [routerLink]="['/dashboard']"
  ></button>

  <button
    *ngIf="page !== 'create'"
    pButton
    label="Thêm Sản Phẩm"
    [raised]="true"
    class="p-button-primary p-button-rounded p-button-lg text-3xl font-bold px-6 py-4"
    [routerLink]="['/product/create']"
    [queryParams]="{ check: 'create' }"
  ></button>

  <button
    *ngIf="page !== 'user'"
    pButton
    [raised]="true"
    label="Quản lý user"
    class="p-button-primary p-button-rounded p-button-lg text-3xl font-bold px-6 py-4"
    [routerLink]="['/user']"
  ></button>

  <button
    *ngIf="page !== 'password'"
    pButton
    [raised]="true"
    label="Đổi mật khẩu"
    class="p-button-secondary p-button-rounded p-button-lg text-3xl font-bold px-6 py-4"
    [routerLink]="['/password']"
  ></button>

  <button
    pButton
    label="Đăng Xuất"
    [raised]="true"
    class="p-button-danger p-button-rounded p-button-lg text-3xl font-bold px-6 py-4"
    (click)="logout()"
  ></button>
</div>
