<app-navbar page="password"></app-navbar>
<div class="container">
  <h2>Đổi mật khẩu</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <label>Mật Khẩu Cũ</label>
    <input
      type="password"
      formControlName="oldPassword"
      placeholder="Mật khẩu cũ"
    />
    <label>Mật Khẩu Mới</label>
    <input
      type="password"
      formControlName="newPassword"
      placeholder="Mật khẩu mới"
    />
    <label>Nhập Lại Mật Khẩu</label>
    <input
      type="password"
      formControlName="newPasswordConfirm"
      placeholder="Nhập lại mật khẩu mới"
    />
    <app-button
      label="Đổi mật khẩu"
      type="submit"
      color="primary"
      [disabled]="passwordForm.invalid"
      (onClick)="onSubmit()"
    ></app-button>
  </form>
</div>
