<app-navbar page="password"></app-navbar>
<div>
  <form
    [formGroup]="passwordForm"
    (ngSubmit)="onSubmit()"
    class="w-4 m-auto p-8 flex flex-column gap-4 align-items-center"
  >
    <h2 class="mb-3 text-900 text-4xl">Đổi mật khẩu</h2>
    <div class="grid w-full">
      <label class="col-4 text-left mt-2 font-bold text-2xl">Mật Khẩu Cũ</label>
      <input
        type="password"
        formControlName="oldPassword"
        placeholder="Mật khẩu cũ"
        class="flex-1 mr-3 pl-3 border-round-2xl"
      />
    </div>

    <div class="grid w-full">
      <label class="col-4 text-left mt-2 font-bold text-2xl"
        >Mật Khẩu Mới</label
      >
      <input
        type="password"
        formControlName="newPassword"
        placeholder="Mật khẩu mới"
        class="flex-1 mr-3 pl-3 border-round-2xl"
      />
    </div>
    <div class="grid w-full">
      <label class="col-4 text-left mt-2 font-bold text-2xl"
        >Nhập Lại Mật Khẩu</label
      >
      <input
        type="password"
        formControlName="newPasswordConfirm"
        placeholder="Nhập lại mật khẩu mới"
        class="flex-1 mr-3 pl-3 border-round-2xl"
      />
    </div>

    <app-button
      label="Đổi mật khẩu"
      type="submit"
      color="primary"
      class="w-full mt-3 text-center"
      [disabled]="passwordForm.invalid"
      (onClick)="onSubmit()"
    ></app-button>
  </form>
</div>
