.container {
  width: calc(100vw - 100px);
  max-width: 350px;
  margin: 60px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  width: calc(100% - padding);
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.buttonContainer app-button:first-of-type {
  width: 100%;
  margin-right: 50px;
}
.error-message {
  color: red;
  margin-top: 10px;
}
