<div
  class="flex min-h-screen w-full"
  style="background: linear-gradient(135deg, #6e8efb, #a777e3)"
>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="bg-white shadow-5 p-5 border-round-lg w-3 m-auto"
  >
    <div class="text-3xl text-center pb-4 font-bold text-primary">Đăng Ký</div>
    <div class="flex flex-column gap-3">
      <input
        pInputText
        type="text"
        formControlName="phone"
        placeholder="Phone"
        class="w-full p-3 border-round-md border-1 border-gray-300"
      />
      <input
        pInputText
        type="text"
        formControlName="name"
        placeholder="Full Name"
        class="w-full p-3 border-round-md border-1 border-gray-300"
      />
      <p-password
        formControlName="password"
        placeholder="Password"
        [style]="{ width: '100%' }"
        [inputStyle]="{
          width: '100%',
          padding: '12px',
          'border-radius': '6px',
          border: '1px solid #d1d5db',
          'font-size': '1.4rem'
        }"
        [toggleMask]="true"
      ></p-password>
      <p-password
        formControlName="confirmPassword"
        placeholder="Confirm Password"
        [style]="{ width: '100%' }"
        [inputStyle]="{
          width: '100%',
          padding: '12px',
          'border-radius': '6px',
          border: '1px solid #d1d5db',
          'font-size': '1.4rem'
        }"
        [toggleMask]="true"
      ></p-password>
    </div>
    <div class="flex justify-content-between mt-4">
      <button
        pButton
        [raised]="true"
        label="Register"
        type="submit"
        class="p-button-success p-button-rounded font-bold p-button-lg w-full mr-3 text-2xl"
        [disabled]="registerForm.invalid"
      ></button>
      <button
        pButton
        [raised]="true"
        label="Login"
        class="p-button-contrast p-button-rounded font-bold p-button-lg w-full ml-3 text-2xl"
        (click)="onClick()"
      ></button>
    </div>
  </form>
</div>
