<app-navbar page="dashboard"></app-navbar>

<div *ngIf="data.length > 0; else noData" class="w-full">
  <ul class="grid mx-auto" style="width: calc(100% - 20px)">
    <li *ngFor="let product of data" class="col-4 flex flex-column">
      <img
        *ngIf="product.imageData"
        [src]="getImageSrc(product.imageData)"
        alt="Hình ảnh sản phẩm"
        class="w-full block"
        style="max-height: 80%; height: 80%"
      />
      <div class="text-2xl mt-auto font-bold">
        Tên sản phẩm: {{ product.title }}
      </div>
      <div class="text-2xl text-gray-500 py-2">
        Giá: {{ product.price | currency : "USD" }}
      </div>

      <div class="flex justify-content-around">
        <button
          pButton
          [raised]="true"
          label="Chỉnh sửa"
          [routerLink]="['/product/create']"
          class="p-button-primary p-button-rounded font-bold p-button-lg w-20rem text-3xl"
          [queryParams]="{
            _id: product._id,
            title: product.title,
            price: product.price,
            check: `update`
          }"
        ></button>
        <button
          [raised]="true"
          pButton
          label="Xóa"
          [routerLink]="['/product/create']"
          class="p-button-danger font-bold p-button-rounded p-button-lg w-20rem text-3xl"
          [queryParams]="{
            _id: product._id,
            title: product.title,
            price: product.price,
            check: `delete`
          }"
        ></button>
      </div>
    </li>
  </ul>
</div>
<div class="text-center py-4">
  <button
    [raised]="true"
    pButton
    label="Xem thêm"
    (click)="loadMore()"
    [disabled]="isLoading"
    class="p-button-success font-bold p-button-rounded p-button-lg w-20rem mr-3 text-3xl"
  ></button>
</div>

<ng-template #noData>
  <p class="p-text-center">Không có sản phẩm nào.</p>
</ng-template>
