<app-navbar page="create"></app-navbar>
<div class="w-screen">
  <form
    [formGroup]="productForm"
    (ngSubmit)="submitForm()"
    class="w-5 m-auto p-6 text-center flex flex-column gap-4 border-round-3xl shadow-2"
    style="background: linear-gradient(135deg, #6e8efb, #a777e3)"
  >
    <h2 class="text-3xl">{{ buttonLabel }}</h2>
    <div class="grid">
      <label for="title" class="col-4 align-content-center text-4xl text-left"
        >Tên sản phẩm:</label
      >
      <input
        pInputText
        id="title"
        type="text"
        formControlName="title"
        class="w-full p-3 border-round-xl border-1 border-gray-300 hover:border-primary col text-2xl"
        placeholder="Tên sản phẩm"
      />
    </div>

    <div class="grid">
      <label for="price" class="col-4 align-content-center text-left text-4xl"
        >Giá:</label
      >
      <input
        pInputText
        id="price"
        type="number"
        formControlName="price"
        class="w-full p-3 border-round-xl border-1 border-gray-300 hover:border-primary col text-2xl"
        placeholder="Giá sản phẩm"
      />
    </div>

    <div class="grid">
      <label for="image" class="col-4 align-content-center text-4xl text-left"
        >Chọn hình ảnh:</label
      >
      <input
        pInputText
        id="image"
        type="file"
        formControlName="image"
        (change)="onFileSelected($event)"
        class="w-full p-3 border-round-xl border-1 border-gray-300 hover:border-primary col text-2xl"
      />
    </div>
    <button
      pButton
      [raised]="true"
      label="{{ buttonLabel }}"
      type="submit"
      class="p-button-success p-button-rounded font-bold p-button-lg w-full text-3xl w-5 mx-auto"
    ></button>
  </form>
</div>
